.navbar-brand {
  font-size: 200%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.urlLink {
  word-break: break-all;
}
